In [1]:
import FinanceDataReader as fdr

df = fdr.DataReader('TSLA', '2024-01-17')
print(df)

                  Open        High         Low       Close     Volume  \
2024-01-16  215.100006  223.490005  212.179993  219.910004  115355000
2024-01-17  214.860001  215.669998  212.009995  215.550003  103164400
2024-01-18  216.880005  217.449997  208.740005  211.880005  108595400
2024-01-19  209.990005  213.190002  207.559998  212.190002  102095800
2024-01-22  212.259995  217.800003  206.270004  208.800003  117952500
...                ...         ...         ...         ...        ...
2025-01-13  383.209991  403.790009  380.070007  403.309998   67580500
2025-01-14  414.339996  422.640015  394.540009  396.359985   84565000
2025-01-15  409.899994  429.799988  405.660004  428.220001   81375500
2025-01-16  423.489990  424.000000  409.130005  413.820007   68335200
2025-01-17  421.500000  439.739990  419.750000  426.500000   94504200

             Adj Close
2024-01-16  219.910004
2024-01-17  215.550003
2024-01-18  211.880005
2024-01-19  212.190002
2024-01-22  208.800003
...                ...
2025-01-13  403.309998
2025-01-14  396.359985
2025-01-15  428.220001
2025-01-16  413.820007
2025-01-17  426.500000

[254 rows x 6 columns]

In [5]:
import datetime
# '2024-01-17' 오늘 날짜 
today = datetime.datetime.now().strftime('%Y-%m-%d')
# 오늘 날짜 이전 10일 
ten_days_ago = (datetime.datetime.now() - datetime.timedelta(days=10)).strftime('%Y-%m-%d')

print(ten_days_ago)

2025-01-08

In [6]:
nyse = fdr.StockListing('NYSE')
amex = fdr.StockListing('AMEX')
print(nyse.tail(10))
print(amex.tail(10))

100%|██████████| 2732/2732 [00:02<00:00, 931.62it/s]
100%|██████████| 316/316 [00:00<00:00, 844.79it/s]

         Symbol                                               Name  \
2722       CIMN      Chimera Investment 9 00 Senior Notes due 2029
2723       RWTO           Redwood Trust 9 00 Senior Notes Due 2029
2724       AOMN  Angel Oak Mortgage REIT 9.500 Senior Notes due...
2725       CIMO     Chimera Investment 9 250 Senior Notes due 2029
2726   FLG PR U                        Flagstar Financial Pref Shs
2727   NEE PR T                               Nextera Energy Units
2728       SPMA  Sound Point Meridian Capital 8 00 Pref Shs Ser...
2729   AHL PR F  Aspen Insurance Holdings Depositary Shs Repstg...
2730        RCD          Ready Capital 9.00% Senior Notes due 2029
2731  JFR RT WI  Nuveen Floating Rate Income Fund Rights Expiry...

     IndustryCode       Industry
2722     60102040       특수 REITs
2723     60102040       특수 REITs
2724     55101010             은행
2725     60102040       특수 REITs
2726     55102020  투자 관리 및 펀드 운영
2727     59101010        전력 유틸리티
2728     55501030         폐쇄형 펀드
2729     55301050            재보험
2730     60102040       특수 REITs
2731     55501030         폐쇄형 펀드
       Symbol                                               Name IndustryCode  \
306      SCPX                              Scorpius Holdings Inc     56201040
307       SGN                             Signing Day Sports Inc     57201020
308  GLU PR A  Gabelli Global Utility and Income Cumulative P...     55501030
309   PW PR A  Power REIT 7.75% Cumulative Redeemable Perpetu...     60102020
310  RHE PR A  Regional Health Properties 10.875 Cumulative R...     60101010
311    LNFA.U           L F Acquisition Redeemable Units Class A     55601010
312      AMDI                             Amphitrite Digital Inc     53301040
313      ONDR                            Sushi Ginza Onodera Inc
314  OPP PR C  RiverNorth DoubleLine Strategic Opportunity 6....     55501030
315      LGPS                                    LogProstyle Inc     53203010

            Industry
306               제약
307            소프트웨어
308           폐쇄형 펀드
309        상업용 REITs
310  부동산 임대, 개발 및 운영
311         투자 지주 회사
312        여가 및 오락시설
313
314           폐쇄형 펀드
315            주택 건설

In [7]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

# DB 경로 설정
db_path = '/home/kds/k202410/Stock/app/db/stock.db'
engine = create_engine(f'sqlite:///{db_path}')

# NYSE 데이터 저장
nyse.to_sql('nyse', con=engine, if_exists='replace', index=False)

# # NASDAQ 데이터 저장
# nasdaq.to_sql('nasdaq', con=engine, if_exists='replace', index=False)

# AMEX 데이터 저장
amex.to_sql('amex', con=engine, if_exists='replace', index=False)

# 저장 확인
with sqlite3.connect(db_path) as conn:
    # NYSE 데이터 확인
    nyse_count = pd.read_sql_query("SELECT COUNT(*) FROM nyse", conn).iloc[0,0]
    print(f"NYSE 저장된 데이터 수: {nyse_count}")
    
    # NASDAQ 데이터 확인
    nasdaq_count = pd.read_sql_query("SELECT COUNT(*) FROM nasdaq", conn).iloc[0,0]
    print(f"NASDAQ 저장된 데이터 수: {nasdaq_count}")
    
    # AMEX 데이터 확인
    amex_count = pd.read_sql_query("SELECT COUNT(*) FROM amex", conn).iloc[0,0]
    print(f"AMEX 저장된 데이터 수: {amex_count}")

NYSE 저장된 데이터 수: 2732
NASDAQ 저장된 데이터 수: 3640
AMEX 저장된 데이터 수: 316

In [9]:
# googl 이 db의 nasdaq, amex, nyse 에 있는지 확인
googl = pd.read_sql_query("SELECT * FROM nasdaq WHERE Symbol = 'GOOGL'", conn)
print(googl)

                  Open        High         Low       Close    Volume  \
2024-01-16  142.000000  144.350006  141.449997  142.490005  22670500
2024-01-17  141.350006  141.839996  138.899994  141.470001  20968600
2024-01-18  142.050003  144.210007  141.990005  143.479996  25746400
2024-01-19  144.740005  146.449997  144.380005  146.380005  33300700
2024-01-22  147.100006  148.389999  145.839996  145.990005  32200400
...                ...         ...         ...         ...       ...
2025-01-13  190.070007  191.179993  187.360001  191.009995  21823700
2025-01-14  191.240005  191.979996  188.309998  189.660004  17174900
2025-01-15  193.089996  196.360001  191.860001  195.550003  21776000
2025-01-16  194.139999  195.479996  192.809998  192.910004  17815400
2025-01-17  196.529999  197.229996  193.750000  196.000000  27629800

             Adj Close
2024-01-16  141.975327
2024-01-17  140.959015
2024-01-18  142.961761
2024-01-19  145.851273
2024-01-22  145.462677
...                ...
2025-01-13  191.009995
2025-01-14  189.660004
2025-01-15  195.550003
2025-01-16  192.910004
2025-01-17  196.000000

[254 rows x 6 columns]

TypeError: SnapDataReader() takes 1 positional argument but 2 were given